snippet main "c --> main" b
//usr/bin/env gcc-11 -o main "\$0" && ./main; rm -rf main; exit
#include <stdio.h>

int main() {
	${0:main}

	return 0;
}
endsnippet

snippet p "c --> printf" b
printf("${1:toPrint}"${2});
endsnippet
