snippet main "C -> Java main" b
public class ${1:Class Name} {
	public static void main(String[] args) {
		${0:++ Body ++}
	}
}
endsnippet

snippet sout "C -> Java println" b
System.out.println(${0:ToPrint});
endsnippet

snippet if "C -> Java if" b
if (${1:condition}) {
	${2:++ Body ++}
}${0}
endsnippet

snippet ifelse "C -> Java if else" b
if (${1:condition}) {
	${2:++ ifBody ++}
} else {
	${3:elseBody}
}${0}
endsnippet
